body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 450px;
  height: 450px;
  margin: auto;
  padding: 10px;
  background: #323232;
  border: 50px groove #414141;
  /* transform: perspective(50em) rotateX(50deg); */
}

.row1{
  padding-top: 25px;
}

.btn {
  margin: 5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red img {
  width: 200px;
}

.green img {
  width: 200px;
}

.blue img {
  width: 200px;
}

.yellow img {
  width: 200px;

}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;

}
