.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #283149;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #404b69, 10px 0 #da0463;
  font-size: 8rem;
  color: #dbedf3;
}

p {
  font-size: 2rem;
  color: #dbedf3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
#pagegradient {


  height:100%;
  left:0px;
  position:absolute;
  top:0;
  width: 600px;
}

.button {
    position: relative;
    top: 20px;
    left: 0;

    margin: 0 auto;

    -webkit-border-radius: 10px;

    -webkit-box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;


    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 10px;
    -webkit-transition: -webkit-transform .1s ease-in-out;

    display: inline-block;
    padding: 10px 40px 10px 40px;

    color: #3A474D;
    text-transform: uppercase;
    font-family: 'TradeGothicLTStd-BdCn20','PT Sans Narrow';
    font-weight: 700;
    font-size: 32px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}

        .button span:hover {
            color: #da0463;
            text-shadow: 0px -1px #dbedf3;
            cursor: pointer;
        }

        .button:active {
            -webkit-box-shadow:
                0px 3px rgba(128,128,128,1),
                0px 4px rgba(118,118,118,1),
                0px 5px rgba(108,108,108,1),
                0px 6px rgba(98,98,98,1),
                0px 7px rgba(88,88,88,1),
                0px 8px rgba(78,78,78,1),
                0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
        }

        .button:active span{
            -webkit-transform: translate(0, 5px); /* depth of button press */
        }

    .button span:after {
        content: ">";
        display: block;
        width: 10px;
        height: 10px;

        position: absolute;
        right: 14px;
        top: 12px;

        font-family: 'Cabin';
        font-weight: 700;
        color: #da0463;
        text-shadow: 0px 1px #fff, 0px -1px #dbedf3;
        font-size: 26px;
    }

footer {
  margin-top: 25%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
